* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(109, 101, 101);
  border-radius: 5rem;
  box-shadow: 1px 1px 10px gray;
  animation: scaling 0.5s forwards;
}
button {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  margin: 0 1rem;
  box-shadow: 2px 2px 5px black;
  font-size: 1.5rem;
  font-family: cursive, sans-serif;
}
button:active {
  background-color: black;
  color: white;
  box-shadow: 0 0 0;
}
.title {
  padding: 1rem;
  font-family: cursive, sans-serif;
  font-size: x-large;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px black;
}
.buttons {
  display: flex;
  justify-content: center;
  animation: scaling 0.5s 0.5s forwards;
  opacity: 0;
}
@keyframes scaling {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.time {
  font-size: xx-large;
  letter-spacing: 10px;
  border-bottom: 2px solid black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#alarm-time--minutes,
#alarm-time--seconds {
  text-align: center;
  background-color: black;
  color: white;
  width: 40%;
  border-radius: 1rem;
  font-size: large;
  border: none;
  box-shadow: 2px 2px 5px black;
  font-size: 1.5rem;
}
#alarm-time--minutes {
  margin-right: 0.2rem;
}
#alarm-time--seconds {
  margin-left: 0.2rem;
}
#alarm-time--minutes,
#alarm-time--seconds:focus {
  outline: none;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
  color: white;
  height: 100%;
}
small {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  width: 15%;
  height: 3%;
  background-color: white;
  animation: scaling 0.5s 0.5s forwards;
  opacity: 0;
  cursor: pointer;
  box-shadow: 1px 1px 10px gray;
  font-family: cursive, sans-serif;
}

.alarm-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px black;
}

@media only screen and (600px > width) {
  section {
    width: 95%;
    height: 70%;
  }
  .buttons {
    width: 90%;
  }
  .alarm-time {
    width: 65%;
  }
}
section.fFlip {
  animation: flipping 1s forwards;
}
section.bFlip {
  animation: flipper 1s forwards;
}

@keyframes flipper {
  from {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  to {
    transform: rotateY(360deg);
    backface-visibility: visible;
    display: none;
  }
}

@keyframes flipping {
  to {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: none;
  }
}
